<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.example.NotchIsland</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>NotchIsland</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL

SUFeedURL String

SUFeedURL</key>
	<string>https://raw.githubusercontent.com/bugsmachine/NotchIsland/main/appcast.xml</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/bugsmachine/NotchIsland/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>jAp8xUKshOYA1yix9LD5nLoJy5zK9ej1ZHQYOMFNbFU=</string>
</dict>
</plist>
